header
{
	background: #2E2E2E;
	color: #fff;
}
label,input[type="submit"]{
	margin-top:  6px;
}
#Cancelar
{
	float: right;
}
#mySlide{

	padding: 50px;

}
.fcontacto{

		padding: 15px;	
		-moz-border-radius:8px;
		-webkit-border-radius:8px;

}
.ibody{

	background-color: #ecf0f3;
	margin: 30px auto;
	width: 500px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;

}
.jumbotron{

	border-radius: 8px 8px 0px 0px;
	padding: 16px;
	margin: 0px;
	background: #A9D0F5;
		-moz-border-radius:8px 8px 0px 0px;
		-webkit-border-radius:8px 8px 0px 0px;

}
.jumbotron h1{

	font-size: 36px;
	text-align: center;

}
#imagen img{
	width: 100%;
	height: 80px;
}
/* Color header */
#contenedor
{
	color: #000;
}
.menu ul li a:hover
{
	background: #337ab7;
	color: #fff;
}

#menu1 li
{
	float: right;
	list-style: none;
	text-decoration: none;
	display: block;
}
#menu1 li a
{
	color: #fff;
	font-size: 15px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
}
#menu1  a:hover{
	text-decoration: none;
	color: #00B0F0;
}

#menu1 li a span{
	margin-left: 20px;
	margin-right: 5px;
	padding: 5px;
	float: left;
	font-size:15px;
}

#miMenu  a span{
	margin-right: 5px;
	font-size: 15px;
}
#miMenu a:hover{
	color: #00B0F0;
}
#pantalla{
	text-align: justify;
	border-left: 1px solid #a9a9a9;
}
#wrap
{ 
	width:960px;
	margin:auto;
	clear:both;
	position: relative;
	background: #2f2f2f;
}
#main
{
	width:100%;
	margin:20px 0px 0px 0px;
	float:left;
}


/* --- Bienvenidos --- */
#bienvenidos
{
	width:80%;
	
	padding:20px;
	background: #61ad61; /* Old browsers */
	background: -moz-linear-gradient(top,  #61ad61 0%, #75ae7a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61ad61), color-stop(100%,#75ae7a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #61ad61 0%,#75ae7a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #61ad61 0%,#75ae7a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #61ad61 0%,#75ae7a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #61ad61 0%,#75ae7a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ad61', endColorstr='#75ae7a',GradientType=0 ); /* IE6-9 */
	margin: 20px 0px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
	box-shadow:0px 2px 2px #000000;
		-moz-box-shadow:0px 2px 2px #000000;
		-webkit-box-shadow:0px 2px 2px #000000;

}
#bienvenidos article h2
{

	color:#ffffff;
	font-size:40px;
	margin-bottom:10px;

}
#bienvenidos article p
{

	color:#ffffff;
	line-height:27px;

}
/* --- Contenido --- */
#contenido
{

	width:680px;
	padding: 10px;
	margin: 20px 0px;
	float:left;
	background:#BEF781;
	opacity: .9;

}
#contenido article
{

	float:left;
	margin-bottom:20px;
	
}
#contenido article .titulo
{
	font-size:22px;
	color:#000;
}

#contenido article .fecha
{
	font-size:14px;
	color:#8A0808;
	margin-left:5px;
}
#contenido article .thumb
{
	width:220px;
	height:150px;
	float:left;
	margin:0px 10px 10px 0px;
}
th{

	background: #31a8f7;
	
}
#contenido article p
{
	color:#610B5E;
	font-size:14px;
	text-align:justify;
	line-height:20px;
}
#lista ul li a span{
	font-size: 20px;
	margin-right: 10px;
}
#fuente1 h3 span{
	color:black;
}